<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160263655729-dbld6f34n8qopfo4t334lm401pc238cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160263655729-dbld6f34n8qopfo4t334lm401pc238cp</string>
	<key>API_KEY</key>
	<string>AIzaSyALF_P7bPhT20WzkUR2V4r7EhtTCSUADeo</string>
	<key>GCM_SENDER_ID</key>
	<string>160263655729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Canadore.recipes</string>
	<key>PROJECT_ID</key>
	<string>recipes-cfad1</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-cfad1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160263655729:ios:29929ac7eb45f68d95e010</string>
</dict>
</plist>